.vs
.idea
*.cso

bin
bin-int
ECSEngine/Dependencies
Editor/Resources/CompiledShaders
Editor/DebugAllocations.txt
Editor/TempDump.txt
Modules/*/bin-int
Modules/*/bin
RunGPUThunk.bat
KillGPUThunk.bat
ECSEngine.iml
*.cap
enc_temp_folder

branch.txt
hash.txt